<div class="col-md-4 item">
    <div class="panel panel-default">
        <div class="panel-heading item-header">
            <a data-type="text" data-pk="{{ item.id }}"
               data-url="{{ item.get_api_url }}"
               data-title="Enter link title"
               data-name="title"
               class="editable item_link" href="{{item.url}}">
                {{item.title}}
            </a>
            <span class="item_domain">
                {% if item.domain %}[{{item.domain}}]{% endif %}
            </span>
        </div>
        <div class="panel-body item-content">
            <div class="row">
                <div class="col-xs-7">
                    {{item.created}}
                </div>
                <div class="col-xs-4">
                    <a href="#" class="delete_link" data-item-api-url="{{ item.get_api_url }}" data-toggle="confirmation" >
                        <span class="fa fa-minus"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span data-pk="{{ item.id }}"
                          data-url="{{ item.get_api_url }}"
                          data-value="{% for tag in item.tags.all %}
                        {{ tag.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}" class="tag-list editable-tags">
                        {% for tag in item.tags.all %}
                        <a class="tag" href="{% url 'tags' tags=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="editable item_description"
                       data-type="textarea" data-pk="{{ item.id }}"
                       data-url="{{ item.get_api_url }}"
                       data-title="Enter link description"
                       data-name="readable_article"
                       href="{{item.url}}">
                       {{ item.summary | safe}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
