{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block JS %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#id_tags').select2({
                tags: window.PYPO.tags,
                width: '100%',
                tokenSeparators: [","],
                openOnEnter: false,
                selectOnBlur: true
            });
            var url = $('#id_url').val()
            if (url !== '') {
                $('#id_tags').select2('open');
            }
        })
    </script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
