<div class="col-md-4 item">
    <div class="panel panel-default">
        <div class="panel-heading item-header">
            <a class="item_link" href="{{item.url}}">{{item.title}}
                {% if item.domain %}[{{item.domain}}]{% endif %}</a>
        </div>
        <div class="panel-body item-content">
            <div class="row">
                <div class="col-xs-7">
                    {{item.created}}
                </div>
                <div class="col-xs-5">
                    <div class="tools row pull-right">
                        <div class="col-xs-4">
                            <a class="tags_link" href="{{ item.get_update_url }}">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{ item.get_absolute_url }}">
                                <span class="fa fa-eye"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a class="delete_link" data-item-delete-url="{{ item.get_delete_url }}" data-toggle="confirmation" >
                                <span class="fa fa-minus"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            {% if item.tags.count %}
                <div class="row">
                    <div class="col-xs-12">
                        Tags:
                        <span class="tag-list">
                            {% for tag in item.tags.all %}
                            <a class="tag" href="{% url 'tags' tags=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {{ item.summary | safe}}
                </div>
            </div>
        </div>
    </div>
</div>
