{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block JS %}
    <script src="{% static "jquery-ui.min.js" %}"></script>
    <script src="{% static "bootstrap-tokenfield.min.js" %}"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#id_tags').on('tokenfield:preparetoken', function (e) {
                var token = e.token.value.replace(/^["]/, "").replace(/["]$/, "");
                e.token.value = '"'+token+'"';
                e.token.label = token;
            }).on('tokenfield:initialize', function (e) {
                var url = $('#id_url').val()
                if (url !== '') {
                    $('#id_tags-tokenfield').focus();
                }
            }).tokenfield({
                autocomplete : {
                    source: {{tags|safe}},
                    delay: 100
                },
                showAutocompleteOnFocus: true
            })
        })
    </script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
