language: python
python:
  - "3.3"
install: pip install -r requirements.txt --use-mirrors
env:
  - TEST_SUITE=js
  - TEST_SUITE=functional_tests
  - TEST_SUITE=readme
script: ./run_tests.sh $TEST_SUITE
before_script:
  - psql -c 'create database pypo;' -U postgres
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
