Django==1.5.4
Fabric==1.8.0
Markdown==2.3.1
South==0.8.2
Whoosh==2.5.4
chardet==2.1.1
cssselect==0.9
django-crispy-forms==1.4.0
django-filter==0.7
django-haystack==2.1.0
django-oauth2-provider==0.2.6
django-taggit==0.10
djangorestframework==2.3.8
ecdsa==0.9
lxml==3.2.3
paramiko==1.12.0
psycopg2==2.5.1
pycrypto==2.6
readability-lxml==0.3.0.2
requests==2.0.0
shortuuid==0.4
six==1.4.1
stevedore==0.12
tld==0.6.1
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
