Django==1.8.12
Whoosh>=2.7.4
django-crispy-forms==1.6
django-filter==0.13
django-taggit==0.18.1
djangorestframework==3.3.3
psycopg2==2.6.1
pycrypto==2.6.1
lxml==3.6.0
requests==2.9.1
tld==0.7.6
selenium==2.53.1
cssselect==0.9.1
pytest==2.9.1
pytest-django==2.9.1
pytest-cov==2.2.1
django-pipeline==1.6.8
django-settings-context-processor==0.2
django-sitegate==0.10.3
bleach==1.4.2
-e git+https://github.com/audax/python-readability.git@master#egg=python-readability
django-haystack==2.4
