{% load compressed %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Offcanvas test</title>
    {% compressed_css 'testing' %}
    {% compressed_css 'all' %}
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture">
    <a id="id-toggle" data-toggle="offcanvas" href="#">Toggle</a>
    <div id="id-offcanvas" class="row-offcanvas"></div>

</div>
{% compressed_js 'components' %}
{% compressed_js 'testing' %}
<script>
test("data-toggle-offcanvas toggles the active class", function() {
   var $toggle = $("#id-toggle"),
       $row = $("#id-offcanvas");
    ok(!$row.hasClass("active"), "Row does not have the active class");
    $toggle.click();
    ok($row.hasClass("active"),
            "Row got the active class after clicking the toggle");
});
</script>
</body>
</html>