@media (min-width: 978px) {
  .item {
    height: 256px;
    margin-bottom: 16px;
  }
  .panel {
    height: 100%;
  }
  .panel-heading {
    height: 33%;
  }
  .panel-body {
    height: 67%;
  }
}
.item {
  word-break: break-all;
}
body {
  padding-top: 70px;
}
